<div class="bg-dark p-2">
     <div class="d-flex flex-row justify-content-between align-items-center p-3">
          <a href="/catalog/" class="text-decoration-none display-3 text-light"> Tunguska Inventory</a>
          <ul class="nav">
               <li class="nav-item">
                    <a class="text-decoration-none display-6 me-5" aria-current="page" href="/catalog/brand/list"> Brands
                    </a>
               </li>
               <li class="nav-item"><a class="text-decoration-none display-6 me-5" aria-current="page"
                         href="/catalog/category/list"> Categories </a>
               </li>
               <li class="nav-item"><a class="text-decoration-none display-6 me-5" aria-current="page"
                         href="/catalog/product/list"> Products </a>
               </li>
               <li class="nav-item">
                    <a class="text-decoration-none display-6 me-5" aria-current="page" href="/catalog/item/list"> Items </a>
               </li>
          </ul>
     </div>
     
</div>